.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: row;
}
.login_card{
    width: 20rem;
    /* height: 30rem; */
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
}
.bottom_card{
    width: 20rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}
.carbg{
    background: url('../assets/carbg.png');
    background-size: cover;
    height: 590px;
    width: 441px;
    position: relative;
}
.car{
    height: 423px;
    width: 241px;
    position: absolute;
    top: 93px;
    left: 143px;
}


@media only screen and (max-width:710px){
    .login_card{
        width: 15rem;
    }
    .bottom_card{
        width: 15rem;
    }
    .carbg{
        display: none;
    }
}